<div class="home-container" fxFlex fxLayout="row">
    <div fxFlex class="primary-lhs" fxLayoutAlign="start center">
        <div fxFlex class="content-lhs" fxLayoutAlign="start center">
            <div fxLayout="column" fxLayoutGap="64px">
                <span class="hero-heading">Make your team's estimations</span>
                <div fxLayoutGap="16px" fxLayout="column">
                    <span class="mat-display-2">accurate</span>
                    <span class="mat-display-2">engaging</span>
                    <span class="mat-display-2">agile</span>
                </div>
            </div>
        </div>
    </div>
    <div fxFlex class="primary-rhs" fxLayoutAlign="center center">
        <app-create-room></app-create-room>
    </div>
</div>